.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: auto;
  border-bottom: 3px solid transparent;
}

.bicicletas-lista ul a {
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.bicicletas-lista ul a:hover {
  border-bottom: 3px solid var(--pink);
}

#bicicleta .bicicletas-lista ul {
  padding: 0px 0px 20px 0px;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  background-color: var(--pink);
  height: 0px;
  width: 0px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  transition: width 0.3s;
}


.bicicletas-lista h3:hover:before {
  content: "";
  background-color: var(--pink);
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  transition: 0.3s;
}

.bicicletas-lista a:hover h3::before {
  height: 14px;
  width: 14px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

/* Responsividade */
@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}